body{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    border: 1px solid #00eaff;
    margin: 0;
    padding: 0;
    background-color: rgba(10, 10, 158, 0.336);
    border-bottom: 2px solid #00eaff;
}

nav {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

nav a {
    color: #00eaff; /* Color azul neon */
    margin: 0 20px; /* Espacio entre enlaces */
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
}

ul, ol{
    list-style-position: inside;   /* pone las viñetas o los numeros en el mismo bloque del texto */ 
}

hr{
    border: 0;
    border-top:2px solid #00eaff;
}

img{
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover{
    transform: scale(1.07);
}

article, section,form {
    border: 2px solid #00eaff;    /* Borde azul neón */
    border-radius: 10px;           /* Bordes redondeados */
    padding: 20px;                 /* Espacio interno */
    margin: 20px 0;                /* Separación entre artículos */
    background-color: rgba(0, 0, 0, 0.294); /* Fondo semitransparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26); /* Sombra para dar relieve */
    max-width: 800px;              /* Máximo ancho de la tarjeta */
    margin-left: auto;             /* Centrar horizontalmente */
    margin-right: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    color: #000000;
}

table th{
    background: #1666807f;
    padding: 10px;
    border: 1px solid #00eaff
}

table td{
    padding: 10px;
    border: 1px solid #00eaff;
}

#hola{
    text-align: left;
}

iframe{
    margin: 50px;
}